{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <style href="static/css/styles.css"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de tareas</title>
    <h2>Gestor de tareas</h2>
    <h2>Bienvenido {{ user.username }}</h2>
    for tarea in tareas:
        <div>
            <h3>{{ tarea.titulo }}</h3>
            <h3>{{ tarea.descripcion }}</h3>
            <h3>{{tarea.completada}} </h3>
          <a href="{% url 'eliminar_tarea' tarea.id %}">Eliminar tarea</a>
          <a href="{% url 'lista_tareas' %}"> Volver al listado</a>  

        </div>
    {% endfor %}   

        <h2><a href="{% url 'home' %}">Volver al inicio</a></h2> 
        <h2><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a> </h2>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>